.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffff;
    z-index: 10000;
}
.ranges {
    font-size: 11px;
    float: none;

    text-align: left; }
.ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    min-width:100px;
    }
.ranges li {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer; }
.ranges li:hover {
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff; }
.ranges li.active {
    background-color: #08c;
    border: 1px solid #08c;
    color: #fff; }
